[submodule "src/third-party/singleapplication"]
	path = src/third-party/singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
	ignore = dirty
[submodule "src/third-party/qtaskbarcontrol"]
	path = src/third-party/qtaskbarcontrol
	url = https://github.com/crow-translate/QTaskbarControl.git
	ignore = dirty
[submodule "src/qonlinetranslator"]
	path = src/qonlinetranslator
	url = https://github.com/crow-translate/QOnlineTranslator.git
	ignore = dirty
[submodule "src/qgittag"]
	path = src/qgittag
	url = https://github.com/crow-translate/QGitTag.git
	ignore = dirty
[submodule "src/third-party/qhotkey"]
	path = src/third-party/qhotkey
	url = https://github.com/Skycoder42/QHotkey.git
	ignore = dirty
[submodule "data/third-party/circle-flags"]
	path = data/icons/third-party/circle-flags
	url = https://github.com/HatScripts/circle-flags.git
	ignore = dirty
[submodule "data/third-party/fluent-icon-theme"]
	path = data/icons/third-party/fluent-icon-theme
	url = https://github.com/vinceliuice/Fluent-icon-theme.git
	ignore = dirty
